*{
  margin: 0;
  padding: 0;
  border: 0;
}


/* Estilos generales para el header y la navegación */
header {
  background: linear-gradient(to right, #0e3f74, #127bd2); /* Degradado de fondo */
  padding: 20px 0; /* Espaciado interno del header */
  text-align: center; /* Alineación del texto en el centro */
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  list-style: none; /* Elimina los estilos de la lista */
  padding: 0; /* Elimina el espaciado interno de la lista */
  margin: 0; /* Elimina el margen de la lista */
  display: flex; /* Hace que la lista sea horizontal */
}

li {
  margin: 0 15px;
  position: relative;
}

/* Estilos para los enlaces */
a {
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #fff; /* Color del texto de los enlaces */
  font-weight: bold; /* Texto en negrita */
  font-size: 18px; /* Tamaño del texto */
  position: relative;
  transition: color 0.3s ease; /* Efecto de transición en el color */
}

/* Efecto de línea debajo del enlace al pasar el ratón */
a:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff; /* Color de la línea */
  transform: scaleX(0); /* Inicialmente, la línea está invisible */
  transition: transform 0.3s ease; /* Efecto de transición en la línea */
}

/* Cambia el color del texto y revela la línea al pasar el ratón sobre los enlaces */
a:hover {
  color: #ff8c00; /* Nuevo color al pasar el ratón */
  cursor: pointer;
}

a:hover:after {
  transform: scaleX(1); /* Revela la línea al pasar el ratón */
}
